language: java
jdk: oraclejdk8

install: gradle clean build
sudo: false

#notifications:
#  email: false

deploy:
  skip_cleanup: true
  provider: script
  script: >-
            curl --ftp-create-dirs -T build/libs/AbbyyRest-1.0.war -u $FTP_USER:$FTP_PASSWORD ftp://ftp-devel.mzk.cz/AbbyyRest/;
            curl -H "Content-Type: application/json" --data '{"docker_tag": "latest"}' -X POST https://registry.hub.docker.com/u/moravianlibrary/abbyyrest/trigger/187b8d60-50dd-4b54-bb6e-ccce6fa1c015/
